/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(https://fonts.googleapis.com/css?family=La+Belle+Aurore);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'DOTMATRI';
  src: url("/miniatures/assets/css/fonts/DOTMATRI.eot");
  src: local("DOTMATRI"), url("/miniatures/assets/css/fonts/DOTMATRI.woff") format("woff"), url("/miniatures/assets/css/fonts/DOTMATRI.ttf") format("truetype"); }
@font-face {
  font-family: 'TELETYPE 1945-1985';
  src: url("/miniatures/assets/css/fonts/TELETYPE1945-1985.eot");
  src: url("/miniatures/assets/css/fonts/TELETYPE1945-1985.eot?#iefix") format("embedded-opentype"), url("/miniatures/assets/css/fonts/TELETYPE1945-1985.woff2") format("woff2"), url("/miniatures/assets/css/fonts/TELETYPE1945-1985.woff") format("woff"), url("/miniatures/assets/css/fonts/TELETYPE1945-1985.svg#TELETYPE1945-1985") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'futuraLightAngled';
  src: url("/miniatures/assets/css/fonts/futuraLightAngled.eot");
  src: url("/miniatures/assets/css/fonts/futuraLightAngled.eot?#iefix") format("embedded-opentype"), url("/miniatures/assets/css/fonts/futuraLightAngled.woff2") format("woff2"), url("/miniatures/assets/css/fonts/futuraLightAngled.woff") format("woff"), url("/miniatures/assets/css/fonts/futuraLightAngled.svg#futuraLightAngled") format("svg");
  font-weight: 300;
  font-style: normal; }
/* CSS Document */
/*
* {
    box-sizing: border-box;
}
*/
body {
  background-image: url("/miniatures/assets/images/wood.jpg"); }

/* Create three unequal columns that floats next to each other */
.column {
  float: left; }

.left {
  width: 45%; }

.middle {
  width: 45%; }

.right {
  font-family: "TELETYPE 1945-1985";
  width: 5%; }

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both; }

.paper {
  font: normal 20px/20px "La Belle Aurore", cursive;
  /*font-family: $main-font;*/
  /* width: 50%; */
  /* height: 80%; */
  margin: 0 auto;
  padding: 6px 5px 4px 42px;
  position: relative;
  color: #444;
  line-height: 40px;
  border: 1px solid #d2d2d2;
  background: #fff;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#d9eaf3), color-stop(4%, #fff)) 0 4px;
  background: -webkit-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
  background: -moz-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
  background: -ms-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
  background: -o-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
  background: linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
  -webkit-background-size: 100% 20px;
  -moz-background-size: 100% 20px;
  -ms-background-size: 100% 20px;
  -o-background-size: 100% 20px;
  background-size: 100% 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
  /* width: 816px; */
  /* height: 1056px; */ }

.paper::before {
  content: '';
  position: absolute;
  width: 4px;
  top: 0;
  left: 30px;
  bottom: 0;
  border: 1px solid;
  border-color: transparent #efe4e4; }

/* p {
        display: block;
        width: 94%;
        margin: 0 auto;
        padding: 3.8% 3%;
        border: none;
        outline: none;
        height: 94%;
        background: transparent;
        line-height: 20px;
}
*/
.head {
  background-color: #FFF;
  min-height: 124px;
  margin-left: -42px;
  margin-top: -4px; }

h2 {
  display: block;
  font-size: 1em; }

/* ------------------------------------------------------------------------ */
.comment {
  position: relative;
  background: #88b7d5; }

.arrow_comment {
  position: relative;
  background: #88b7d5; }

.arrow_comment:after {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-right-color: #88b7d5;
  border-width: 30px;
  margin-top: -30px; }

div.polaroid {
  width: 80%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px; }

div.container {
  text-align: center;
  padding: 10px 20px; }

/* ------------------------------------------------------------------------ */
.p-name {
  font-family: "TELETYPE 1945-1985";
  font-size: 1.5em;
  text-align: center;
  background-color: white;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5); }

.printout {
  font-family: "DOTMATRI";
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
  word-wrap: 0;
  overflow: auto;
  line-height: 25px;
  padding: 2px 8px;
  margin-bottom: 10px;
  background: linear-gradient(to bottom, #e6ffe6 50%, #FFFFFF 50%);
  background-size: 50px 50px; }

code, pre {
  font-family: "DOTMATRI";
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
  word-wrap: 0;
  white-space: pre;
  overflow: auto;
  line-height: 25px;
  padding: 2px 8px;
  margin-bottom: 10px;
  border: 1px solid #333333;
  background: linear-gradient(to bottom, #e6ffe6 50%, #FFFFFF 50%);
  background-size: 50px 50px; }

blockquote {
  font-family: "DOTMATRI";
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
  word-wrap: 0;
  line-height: 25px;
  padding: 2px 8px;
  margin-bottom: 10px;
  border: 1px solid #333333;
  background: linear-gradient(to bottom, #e6ffe6 50%, #FFFFFF 50%);
  background-size: 50px 50px; }

.flowplayer {
  font-family: "DOTMATRI"; }
